* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input,
select {
	padding: 0;
	margin: 0;
}
.container {
	width: 60vw;
	margin: 100px auto;
	border: 3px gray solid;
	min-height: 70vh;
	transition: 0.5s linear;
}
.d-flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}
.col-2 {
	width: 50%;
}

.bg-detail {
	background-color: #00bcd4;
}

.bg-green {
	background-color: #5cb85c;
}

.bg-done {
	background-color: #2196f3;
}
.bg-remove {
	background-color: #d9534f;
}

.title {
	text-align: center;
}

.padding-common {
	padding: 3% 5%;
}

.w-full {
	width: 100%;
}

.w-40 {
	width: 40%;
}

.w-60 {
	width: 60%;
	border-left: 2px gray solid;
}
.mc {
	margin-top: 25px;
}
input[type="text"] {
	padding: 8px 10px;
	border: 1px gray solid;
	border-radius: 5px;
	width: 100%;
}

textarea {
	border: 1px black solid;
	padding: 10px;
}

label {
	margin-bottom: 5px;
}

.gap-30 {
	gap: 30px;
}
.gap-10 {
	gap: 10px;
}

input[type="date"],
select {
	padding: 5px 8px;
}

.btn {
	color: white;
	padding: 7px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.disable-btn {
	background-color: gray;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.todo {
	padding: 10px;
	border: 1px solid;
	margin-top: 10px;
}

.group-btn > button:first-child {
	margin-right: 15px;
}
.todo-detail {
	padding: 10px;
	border: 1px solid;
	border-top: none;
}
.d-none {
	display: none !important;
}
.container-detail {
	width: 100%;
	padding: 10px 15px;
	transition: 0.5s linear;
}

.mc-xs {
	margin-top: 15px;
}

.bulk-action {
	position: absolute;
	bottom: 0px;
	border-top: 1px solid;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #e0e0e0;
	transition: 0.5s linear;
}

.posion-relative {
	position: relative;
}

.checkbox-container {
	display: flex;
	align-items: center;
	gap: 15px;
	cursor: pointer;
	height: 100%;
}
.checkbox-container label {
	margin: 0;
}
.checkbox-input {
	display: none;
}

.checkbox-label {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid gray;
}

.checkbox-label:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	width: 6px;
	height: 18px;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	opacity: 0;
	transform-origin: bottom left;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.checkbox-input:checked + .checkbox-label:before {
	opacity: 1;
	transform: translate(-50%, -50%) rotate(45deg) translateX(-4px) translateY(-10px);
}

.checkbox-text {
	font-size: 14px;
}

@media only screen and (max-width: 600px) {
	.container {
		width: 90vw;
		margin: 10px auto;
	}
	.container.d-flex {
		flex-direction: column;
	}
	.d-flex > * {
		width: 100%;
	}
	.w-60 {
		border: none;
		border-top: 1px gray solid;
	}
	.group-btn {
		display: flex;
	}
	.todo.d-flex {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 15px;
	}
}
@media only screen and (min-width: 600px) {
	.container {
		width: 90vw;
		min-height: 80vh;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container {
		width: 80vh;
	}
	
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container {
		width: 70vw;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container {
		width: 60vw;
	}
}
